// Colors
$primary: #0e141a !default;
$secondary: #0e141a !default;
$accent: #00d46a !default;
$black: #000 !default;
$white: #fff !default;
$brand-primary: $primary !default;
$brand-success: #00d46a !default;
$brand-warning: #ffb700 !default;
$brand-danger: #ff4040 !default;
$http-get: #0080ff !default;
$http-head: #9343ff !default;
$http-post: #6dd64d !default;
$http-put: #ffc021 !default;
$http-patch: #35d6c3 !default;
$http-delete: #ff5653 !default;
$color-green: #00d46a !default;
$color-blue: #00a4ff !default;
$color-violet: #9552ef !default;
$color-red: #ff4040 !default;
$color-orange: #ff6e00 !default;
$color-yellow: #ffb700 !default;
// Typography
$font-primary: "Galano", sans-serif !default;
$font-secondary: "Open Sans", sans-serif !default;
$font-mono: "Roboto Mono", sans-serif !default;
$font-size-base: 14px !default;
$font-size-h1: 20px !default;
$font-size-h2: 18px !default;
$font-size-h3: 16px !default;
$font-size-h4: 14px !default;
$font-size-h5: 13px !default;
$font-size-h6: 12px !default;